# Dependencies
node_modules/
.pnp
.pnp.js

# Build Output
dist/
build/
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing & Coverage
coverage/
.nyc_output/

# OS & Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Docker
docker-data/
